* { margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font: 20px Helvetica, Arial; 
}

button, .navigation a, #chatRoom li span{
	background: #80b030;
	border: none;
	transition: background linear 0.15s;
	color: #ffffff;
}

button:hover, .navigation a:hover, #chatRoom li span:hover{
	background: #90d040;
	color: #ffffff;
}

.container{
	width: 100%;
	height: 100%;
}

.flexContainerV{
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

.flexContainerVR{
	display: flex;
	flex-direction: column-reverse;
	flex: 1 1 100%;
}

.flexContainerH{
	display: flex;
	flex-direction: row;
	flex: 1 1 100%;
}

.chatLog{
	select: none;
	border: 1px dotted black;
	resize: none;
	flex: 0 0 250px;
	//box-shadow: 0 0 15px #000000 inset;
	background: #f0f0f0;
}

#messageForm { 
	flex: 0 0 50px;
	display: flex;
	flex-direction: row;
	background: #303030;
}
#messageForm input { 
	flex: 9 0 auto;
	margin: 5px;
	font-size: 23px
}
#messageForm button {
	flex: 0 0 190px;
	margin: 5px 5px 5px 0px;	 
	//border-radius: 0px;
	//border-width: 3px;
	font-size: 23px;
}

#chatRoom{
	color: white;
	list-style-type: none;
	overflow: auto;

	flex: 0 0 200px;
	background: #303030;	
}

#chatRoom h3{
	margin: 5px;
}

#chatRoom li{
	margin: 5px 5px;
}

#chatRoom li span{
	height: 30px;	
	min-width: 100%;
	display: inline-block;
	padding: 2px 5px;
	white-space: pre;
}

#roomsList {
    background: #505050;
    display: none;
}

.navigation{
	flex: 1 0 auto;
	list-style: none;
	background: #505050;
}

.navigation li{
	display: inline;
}

.navigation a{
	padding:9px 15px;
	display:inline-block;
	font-size:16px;
	font-weight:600;
	text-decoration:none;
}

.navigation .selected a, .navigation .selected a:hover{
	background:#fff;
	color:#4c4c4c;
}

.content .tab{
	display:none;
	flex: 1 0;
	flex-direction: row;
	flex-wrap: wrap;
}

.content > .selected{
	display:flex;
}

#chatCon > *{
	flex: 1 0 100%;
	padding: 5px;
}

#appsCon > *{
	//width: 100px;
	//height: 100px;
	padding: 5px;
}


.content button{

	//flex: 0 0 auto;
	width: 100px;	
    height: 30px;
	margin-left: 10px;
}

.content input{
	//flex: 0 1 auto;
	//width: 100px;	
    height: 30px;
}


.canvas{
	flex: 1 1 100%;
	//width: 1024;
	//Height: 512;
	top: 0;

	//z-index: -1;
}

