
html {
  .container;
  body {
    .flexContainerV;
    .container;

    div {
      flex: 1 1 0% !important;

      div {
        flex: 1 1 0% !important;

        div {
          flex: 1 1 auto;

          div {

          }

          nav {
            background: @primaryBackgroundColorLight;
            flex: 0 0 30px !important;
            padding: 3px 3px 0 !important;

            span {
              //flex: 0 1 30px;
              margin: 0px 2px;
              padding: 2px;

              &.selected {
                background: white;
              }
              input {
                //flex: 0 1 30px;
                padding: 2px;
              }
            }

          }
        }

        textarea {
          flex: 0 1 150px;
          resize: none;
        }
      }

      aside {
        background: @primaryBackgroundColor;
        flex: 0 1 200px !important;
        overflow: auto;

        #roomHeader {
          flex: 0 1 auto;
          input {
          }
          h3 {
            color: @secondaryFontColor;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        #roomsList {
          padding: 5px;
          margin: 5px;
          background: @primaryBackgroundColorLight;
          color: @secondaryFontColor;

          li {
            text-overflow: ellipsis;
            background: @primaryBackgroundColorDark;
            padding: 3px;
            margin: 3px 0px;

            input {
              padding: 2px;
              margin-right: 3px;
            }

            p {
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          li:hover {
            background: @primaryBackgroundColor;
          }

          li:active {
            background: @primaryBackgroundColorLight;
          }

          hr {
            margin: 10px;
          }
        }

        #usersList {
          padding: 5px;

          li {
            margin: 2px 0px;
            p {
              padding: 1px;
              overflow: hidden;
              text-overflow: ellipsis;

              &.selected {
                border: 1px solid white;
              }
            }
          }
        }

        #options {
          ul {

            li {
              margin: 2px 0px;
              overflow: hidden;
              p {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        #invites {
          flex: 1 0 auto;
        }

      }
    }

    footer {
      flex: 0 0 50px !important;
      background: @primaryBackgroundColorDark;
      padding: 5px;

      form {
        [type="text"]:nth-child(1) {
          flex: 1 1 50px;
          //font-size: 22px;
        }
        [type="text"]:nth-child(2) {
          flex: 8 0 auto;
          //font-size: 22px;
        }
        [type="submit"] {
          flex: 1 1 auto;
        }
      }
    }
  }
}