@greenColor: #006600;
@greenColorLight: #66CC66;
@greenColorDark: #003300;

@grayColor: #404040;
@grayColorLight: #505050;
@grayColorDark: #303030;

@white: #FFFFFF;
@black: #000000;

@primaryBackgroundColor: @grayColor;
@primaryBackgroundColorLight: @grayColorLight;
@primaryBackgroundColorDark: @grayColorDark;

@secondaryBackgroundColor: @greenColor;
@secondaryBackgroundColorLight: @greenColorLight;
@secondaryBackgroundColorDark: @greenColorDark;

@primaryFontColor: @black;
@secondaryFontColor: @white;