<div ng-controller="appsController">
	<% for(var i = 0; i < apps.length; i++){ %>
    <span ng-click="newApp('<%= apps[i] %>')"><img src="<%= url + apps[i] + '/icon.jpg' %>" /><p><%= apps[i] %></p></span>
	<% } %>
</div>