<!DOCTYPE html>
<html>
  <head>
    <title>BroGaming</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <script data-main="javascripts/requireMain" src="javascripts/vendors/require.js"></script>
    <!--<script src='/javascripts/angular.js'></script>
    <script src='/javascripts/mvc/ChatController.js'></script>-->
  </head>
  <body ng-controller="chatController">
    <h1>Welcome to BroGaming</h1>
    <form ng-submit="sendMessage()">
      Message: <input type="text" name="message" ng-model="message" /><br>
      <input type="submit" value="Send" />
    </form>
	<form ng-submit="connect()">
		<input type="submit" value="Connect" />
	</form>
  	<p ng-bind="login"></p>
  	<p ng-bind="error"></p>
  <textarea ng-model="messageLog"></textarea>
  </body>
</html>