<!DOCTYPE html>
<html class="container">
<head>
	<base href="/">
	<title>BroGaming</title>
	<link rel='stylesheet' href='stylesheets/index.css' />
	<script data-main="javascripts/requireMain" src="javascripts/vendors/require.js"></script>
</head>
<body class="container">
	<div class="flexContainerV container">
		<div class="flexContainerH">
			<div class="flexContainerV">
				<div class="flexContainerV" ng-controller="tabsController">
					<nav class="navigation flexContainerH">
						<span ng-class="{selected:tab.isSelected()}"  ng-repeat="tab in tabs">
							<input type="button" class="button" ng-click="changeTab(tab)" value="{{tab.title}}" />
						</span>
					</nav>
					<div class="content flexContainerH" ng-show="tab.isSelected()" ng-repeat="tab in tabs" compile="{{tab.content}}" ng-attr-id="{{tab.id}}">

					</div>
				</div>


				<textarea ng-controller="receivingMessagesController" ng-model="messageLog" class="chatLog"></textarea>


			</div>

			<aside id="chatRoom" ng-controller="roomsController">
				<div id="roomHeader" class="flexContainerH">
					<input type="button" id="chooseRoom" class="button" value="VV" ng-click="toggleRooms()"/>
					<h3 id="roomName" ng-bind="getCurrentRoom().name"></h3>
				</div>
				<ul id="roomsList" ng-show="roomsVisible()">
					<p>Rooms:</p>
					<li ng-repeat="room in getRooms()" ng-click="switchRoom(room)">
						<p>{{room.name}}</p><input type="button" class="button" ng-click="leaveRoom(room.id)" value="x"/>
					</li>
					<p>Create Room:</p>
					<form ng-submit="createRoom()">
						<input type="text" ng-model="createRoomName" />
						<input type="submit" value="Create" />
					</form>
				</ul>

				<ul id="usersList" ng-repeat="room in getRooms()" ng-show="room.isCurrent()">
					<li ng-repeat="user in room.users" class="button">
						<p ng-bind="user"></p>
					</li>
				</ul>
			</aside>
		</div>

		<footer class="flexContainerH" ng-controller="sendingMessagesController">
			<form ng-submit="sendMessage()" class="flexContainerH">
				<input type="text" ng-model="message"/>
				<input type="submit" value="Send" class="button"/>
			</form>
		</footer>
	</div>


<!--	<script type="text/ng-template" id="home">
		<div id="chatCon" class="tab selected" >
			<form ng-submit="connect()" class="flexContainerH">
				<input type="text" ng-model="username"/>
				<input type="text" ng-model="password"/>
				<input type="submit" value="Connect" class="button"/>
			</form>
		</div>
	</script>

	<script type="text/ng-template" id="apps">
		<div id="appsCon" class="tab">
			apps
		</div>
	</script>-->


</body>
</html>


<!--
<body ng-controller="chatController">
<h1>Welcome to BroGaming</h1>
<form ng-submit="sendMessage()">
	Message: <input type="text" name="message" ng-model="message" /><br>
	<input type="submit" value="Send" />
</form>
<form ng-submit="connect()">
	<input type="submit" value="Connect" />
</form>
<p ng-bind="login"></p>
<p ng-bind="error"></p>
<textarea ng-model="messageLog"></textarea>
</body>
</html>-->
