html {
  width: 100%;
  height: 100%;
}
html body {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
}
html body div {
  overflow: auto;
}
html body div div div {
  flex: 1 0 0% !important;
}
html body div div div div nav {
  background: #505050;
  flex: 0 0 30px !important;
  padding: 3px 3px 0 !important;
}
html body div div div div nav span {
  margin: 0px 2px;
  padding: 2px;
}
html body div div div div nav span.selected {
  background: white;
}
html body div div div div nav span input {
  padding: 2px;
}
html body div div textarea {
  flex: 0 1 150px;
  resize: none;
}
html body div aside {
  background: #404040;
  flex: 0 1 200px !important;
  overflow: auto;
}
html body div aside #connection {
  padding: 5px;
}
html body div aside #connection * {
  margin: 2px 0px;
}
html body div aside #rooms #roomHeader {
  flex: 0 1 auto;
}
html body div aside #rooms #roomHeader h3 {
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body div aside #rooms #roomsList {
  padding: 5px;
  margin: 5px;
  background: #505050;
  color: #ffffff;
}
html body div aside #rooms #roomsList li {
  text-overflow: ellipsis;
  background: #303030;
  padding: 3px;
  margin: 3px 0px;
}
html body div aside #rooms #roomsList li input {
  padding: 2px;
  margin-right: 3px;
}
html body div aside #rooms #roomsList li p {
  overflow: hidden;
  text-overflow: ellipsis;
}
html body div aside #rooms #roomsList li:hover {
  background: #404040;
}
html body div aside #rooms #roomsList li:active {
  background: #505050;
}
html body div aside #rooms #roomsList hr {
  margin: 10px;
}
html body div aside #rooms #usersList {
  padding: 5px;
}
html body div aside #rooms #usersList li {
  margin: 2px 0px;
}
html body div aside #rooms #usersList li p {
  padding: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body div aside #rooms #usersList li p.selected {
  border: 1px solid white;
}
html body div aside #rooms #options ul li {
  margin: 2px 0px;
  overflow: hidden;
}
html body div aside #rooms #options ul li p {
  overflow: hidden;
  text-overflow: ellipsis;
}
html body div aside #rooms #invites {
  flex: 1 0 auto;
}
html body div aside #rooms #invites div {
  background-color: #505050;
  padding: 5px;
}
html body div aside #rooms #invites div input {
  margin-top: 2px;
}
html body footer {
  flex: 0 0 50px !important;
  background: #303030;
  padding: 5px;
}
html body footer form [type="text"]:nth-child(1) {
  flex: 1 1 50px;
}
html body footer form [type="text"]:nth-child(2) {
  flex: 8 0 auto;
}
html body footer form [type="submit"] {
  flex: 1 1 auto;
}
form.ng-invalid .ng-invalid {
  background-color: #cc5555;
}
form.ng-invalid .ng-invalid + p {
  color: #ffffff;
  font-size: 12px;
}
form.ng-invalid input[type="submit"] {
  background-color: #404040;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
}
.container {
  width: 100%;
  height: 100%;
}
.flexContainerV {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.flexContainerVR {
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 100%;
}
.flexContainerH {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}
.button {
  background: #009900;
  border: none;
}
.button:hover {
  background: #66cc66;
}
.button:active {
  background: #66ee66;
}
